@model IEnumerable<miha.Models.activiti.activity>
@{
	ViewData["Title"] = "Tezina";
}

@foreach (var item in Model)
{
	<div style="height:50px; text-align:center; font-size:30px; font-family:Papyrus; margin-top:20px;">
	Tezina:@Html.DisplayFor(modelItem => item.Tezina)
	</div><br />
		  <div style="height:70px; text-align:center; font-size:15px; font-family:Papyrus; margin-top:10px;">
		  	@Html.DisplayFor(modelItem => item.Ime)<br />
		  Visina: @Html.DisplayFor(modelItem => item.Visina)<br />
		  Puls: @Html.DisplayFor(modelItem => item.Puls)<br />
		  Spavanje: @Html.DisplayFor(modelItem => item.Spavanje)<br />
		  .......................................................<br />
			  
		  </div>
	<br />

}

	<p style="text-align:center; font-size:20px; padding-top:40px;">

		<a asp-action="Index">Back</a>
	</p>

