@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<p>Aplikacija preti dnevnu aktivnost ljudi, unose se potrebne stavke, moze se ispisati po zeljenim kategorijama, moze se dodavati ljude i uredivati, isto to i brisati.</p>
