@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Mihovil Golic<br />
    Zagreb, Klaiceva 7<br />
    <abbr title="Phone">P:</abbr>
    091 656 4525
</address>

<address>
    <strong>Support:</strong> <a href="mailto:mikagrad@gmail.com">mikagrad@gmail.com</a><br />
    
</address>
