@{
    ViewData["Title"] = "Home Page";
}
<div style="font-size:70px; font-family:Algerian; background-color:#12a3f4; text-align:center; padding-top:30px; ">
	Activity tracker
	<img src="~/images/activity-icon.png" style="padding-bottom:30px; width:90%; " />
</div>

